@charset "UTF-8";

:root{
    --cor1: #355a26;
    --cor2: #497935;
    --cor3: #78c757;

    --fonte1:  ;
    --fonte2:  ;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100vh;
    width: 100vw;
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#assinatura{
    background-color: black;
    width: 80%;
    
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#titulo{
    padding: 10px;
    text-align: center;
}
#titulo h1{
    color: white;
    
}
#assinatura #content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cor3);
    padding: 20px;
}
#content div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;              
    margin: 10px;
}
.botoes input{
   padding: 15px;
}