<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Quando dar pull deixa o de baixo comentado!!! -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">  -->
    <link rel="stylesheet" href="../static/login.css"> 
    <link rel="stylesheet" href="../static/mediaquery.css"> 
    <title>Login</title>
</head>
<body>
    <main>
        <section id="login">
            <div id="titulo">
                <h1>Login</h1>
            </div>
            <div id="form">
                <form method="post">
                <label for="iemail">Email:</label> 
                <input name="email" type="email" id="iemail" autocomplete="email" placeholder="seuemail@gmail.com">
                <br>
                <label for="isenha">Senha:</label> 
                <input name="senha" type="password" id="isenha"  placeholder="suasenha">
                <br>
                <input type="submit">
                <a href="{{ url_for('auth.sign_up') }}" >Não tenho uma conta</a>
                </form>
            </div>
        </section>
    </main>
</body>
</html>