@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------
Telas Pequenas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Telas Grandes: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    section#login{
        width: 80vw;
    }
    section#login > div#titulo{
        width: 30%;
        height: 100%;
        float: left;
    }
    section#login > div#form{
        width: 70%;
        float: right;
    }
}
@media screen and (min-width: 992px){
    section#login{
        width: 950px;
    }
    section#login > div#titulo{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: right; 
        width: 50%;
    }
}