<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/assinatura.css">
    <link rel="shortcut icon" href="../static/images/favicon-dumbbell.ico" type="image/x-icon">
    <title>Assinatura || Treina Aí</title>
</head>
<body>
    <section id="container">
        <section id="assinatura">
            <div id="titulo">
                <h1>Opções de assinatura</h1>
            </div>
            <div id="content">
                <div class="tempo">
                    <span>Mensal</span>
                    <span>Semestral</span>
                    <span>Anual</span>
                </div>
                <div class="preco">
                    <span>??,??R$</span>
                    <span>??,??R$</span>
                    <span>??,??R$</span>
                </div>
                <div class="botoes">
                    <input type="submit">
                    <input type="submit">
                    <input type="submit">
                </div>
            </div>
        </section>
    </section>
</body>
</html>