<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/homemobile.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon-dumbbell.ico') }}" type="image/x-icon"> -->
    <link rel="stylesheet" href="../static/styles/homemobile.css">
    <link rel="shortcut icon" href="../static/images/favicon/favicon-dumbbell.ico" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Placeholder1</a>
            <a href="#">Placeholder2</a>
            <a href="#">Placeholder3</a>
        </nav>
    </header>
    <main>
        <h1>Bem-vindo, {{ user.nome }}!</h1>
        <section id="tarefas">
            <h2>Tarefas</h2>
            <ul>
                <div class="listatarefa">
                    <li>Tarefa 1</li>
                    <li>Tarefa 2</li>
                    <li>Tarefa 3</li>
                    <li>Tarefa 4</li>
                    <li>Tarefa 5</li>
                    <li>Tarefa 89</li>
                </div>
            </ul>
        </section>
        <section id="produtos">
            <h2>Produtos</h2>
            <div class="produtos">
                <div>
                    <div></div>
                </div>
                <div class="coluna-meio">
                    <div></div>
                    <hr>
                    <div></div>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </section>
        <section id="noticias">
            <h2>Notícias</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, harum! Mollitia, inventore animi minima eligendi dicta eius dolorum dolores beatae soluta quaerat perspiciatis nisi distinctio eum modi error provident Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga quam deserunt dignissimos recusandae assumenda pariatur.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aliquam saepe, rem nihil laudantium sunt asperiores architecto impedit sint dignissimos dolores vero fugit omnis quasi sapiente unde consequatur ex consectetur?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa suscipit amet vel voluptate animi molestias nesciunt alias magni, minus doloremque inventore, perferendis quo libero fugit aliquam eum facere veritatis? Ipsam.
            </p>
        </section>
    </main>
    <footer id="rodape">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa a quas vitae quibusdam, aspernatur, doloribus, inventore laboriosam dolorem quis omnis commodi? Error cumque quis magnam deserunt possimus, mollitia provident iusto.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, vel?</p>
        <p>imagem</p>
    </footer>
</body>
</html>