<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/homemobile.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <a href="">Entre</a>
            <a href="">Inscreva-se</a>
        </nav>
    </header>
    <main>
        <section id="tarefas">

        </section>
        <section id="produtos">

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>